@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  
  @font-face {
    font-family: "kaushanScript-Regular";
    src: url("/assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf");
  }

  @font-face {
    font-family: "LeagueGothic-Regular";
    src: url("/assets/fonts/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf");
  }

  @font-face {
    font-family: "Manrope";
    src: url("/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf");
  }
 /*
  @font-face {
    font-family: "Vazirmatn-Bold";
    src: url("/font/Vazirmatn-Bold.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-ExtraBold";
    src: url("/font/Vazirmatn-ExtraBold.ttf");
  } */
}

/* @font-face {
  font-family: kaushanScriptRegular;
  src: url("/black-friday/public/assets/fonts/KaushanScript/KaushanScript.woff2")
    format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: leagueGothicRegular;
  src: url("/black-friday/public/assets/fonts/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf")
    format("ttf");
  font-display: fallback;
}
@font-face {
  font-family: Manrope;
  src: url("/black-friday/public/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf")
    format("ttf");
  font-display: fallback;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html {
  /* font-family: 'kaushanScriptRegular', serif; */
 
}
body{
  background-color: #000;
  color: #fff;
}

::selection {
  color: white;
  background: #fc3746;
}

.bgImg{
  background-image: url(/assets/images/bg-006.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* height: 88rem; */
}
.bgImgPink{
  background-image: url(/assets/images/headphones-img-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;

}

.square{
  aspect-ratio: 1;
  width:100%;
}
/* @layer components {
  .main{
    @apply flex font-medium leading-[2.3rem] min-h-screen flex-col items-center justify-between p-24  font-kaushanScriptRegular
  }

}  */

/* 

:root{
  --white-1:#ffffffcf;
  --white-2:#FFF;
  --gray-1:#666666;
  --gray-2:#2A2A2A;
  --dark-1:#000;
  --red-1:#fc3746;
  --red-1:#FF4955;
}  */
