@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  
  @font-face {
    font-family: "kaushanScript-Regular";
    src: url("/assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf");
  }

  @font-face {
    font-family: "LeagueGothic-Regular";
    src: url("/assets/fonts/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf");
  }

  @font-face {
    font-family: "Manrope";
    src: url("/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf");
  }
 /*
  @font-face {
    font-family: "Vazirmatn-Bold";
    src: url("/font/Vazirmatn-Bold.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-ExtraBold";
    src: url("/font/Vazirmatn-ExtraBold.ttf");
  } */
}

/* @font-face {
  font-family: kaushanScriptRegular;
  src: url("/black-friday/public/assets/fonts/KaushanScript/KaushanScript.woff2")
    format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: leagueGothicRegular;
  src: url("/black-friday/public/assets/fonts/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf")
    format("ttf");
  font-display: fallback;
}
@font-face {
  font-family: Manrope;
  src: url("/black-friday/public/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf")
    format("ttf");
  font-display: fallback;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
} 

html {
  /* font-family: 'kaushanScriptRegular', serif; */
 
}
body{
  background-color: #000;
  color: #fff;
}

::selection {
  color: white;
  background: #fc3746;
}
.body-bg-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.85)), url("/assets/images/bg-body.jpg");
  background-size: 283%;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
}
@media screen and (min-width: 485px){
  .body-bg-image{
    background-size: 213%;
  }
}
@media screen and (min-width: 545px){
  .body-bg-image{
    background-size: 285%;
  }
}
@media screen and (min-width: 920px){
  .body-bg-image{
    background-size: 187%;
  }
}
@media screen and (min-width: 1200px){
  .body-bg-image{
    background-size: 138%;
  }
}
@media screen and (min-width: 1320px){
  .body-bg-image{
    background-size: 126%;
  }
}
@media screen and (min-width: 1500px){
  .body-bg-image{
    background-size: 110%;
  }
}

.bgImg{
  background-image: url(/assets/images/bg-006.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* height: 88rem; */
}
.bgImgPink{
  background-image: url(/assets/images/headphones-img-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;

}

.square{
  aspect-ratio: 1;
  width:100%;
}

.hover:hover .showBag{
  display: block;
}

.showAddToCart:hover{
  opacity: 1;
}

.centerTransform{
  transform: translate(-50% , -50%);
}

.overlay{
  position: absolute; 
  left: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); /* Black see-through */
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
}

.TestimonialImage{
  background-image: url(/assets/images/testimonials.jpg);
 background-attachment: fixed;
 background-position:top center;
 background-repeat: no-repeat;
 background-size: cover;

}
/* @layer components {
  .main{
    @apply flex font-medium leading-[2.3rem] min-h-screen flex-col items-center justify-between p-24  font-kaushanScriptRegular
  }

}  */

/* 

:root{
  --white-1:#ffffffcf;
  --white-2:#FFF;
  --gray-1:#666666;
  --gray-2:#2A2A2A;
  --dark-1:#000;
  --red-1:#fc3746;
  --red-1:#FF4955;
}  */
