@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: kaushanScriptRegular;
  src: url("/black-friday/public/assets/fonts/KaushanScript/KaushanScript.woff2")
    format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: leagueGothicRegular;
  src: url("/black-friday/public/assets/fonts/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf")
    format("ttf");
  font-display: fallback;
}
@font-face {
  font-family: Manrope;
  src: url("/black-friday/public/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf")
    format("ttf");
  font-display: fallback;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html {
  font-family: 'kaushanScriptRegular', serif;
  font-size: 62.5%;
}

::selection {
  color: white;
  background: #fc3746;
}

/* @layer components {
  .main{
    @apply flex font-medium leading-[2.3rem] min-h-screen flex-col items-center justify-between p-24  font-kaushanScriptRegular
  }

}  */



/* :root{
  --white-1:#FFFFFFCF;
  --white-2:#FFF;
  --gray-1:#666666;
  --gray-2:#2A2A2A;
  --dark-1:#000;
  --red-1:#fc3746;
  --red-1:#FF4955;
}  */
